:root {
    /*------------
        COLORS
    ------------*/
    --primary-color: #1e2d3b;
    --secondary-color: #2e3a46;
    --primary-color-text: #fff;
    --secondary-color-text: #808080;

    /*----------------
        CONTAINERS
    ----------------*/
    --container-md: 80rem;
}